body {
  font-family: "Arial", sans-serif;
  vertical-align: top;
}


/* -------------------------Below are for the Top Nav bar -------------------------*/
.navbar {
  font-family: 'Arial';
  font-weight: none;
  width: 100%;
  background-color: white;
  overflow: auto;
  padding:  15 px;
  float:  right;
  overflow: auto; 
}

.navbar a:hover {
    color: rgb(40, 151, 188);
}


.navbar .SignInButton {
  float: right;
  background-color: rgb(40, 151, 188);
  margin-top: 15px;
  border-radius: 25px;
  padding: 15px;
  border:  0px;
  font-size: 17px;
  width: 100px;
  color : white; 
  text-align: center; 
  font-family: Arial;
  cursor: pointer; /* It is about what would u mouse look like when u point at it */
}

.navbar .SignInButton:hover {
  background-color: rgb(113, 195, 222);

}



            /* -------Here is the Sign In form Design--------- */
            /* Full-width input fields */
            input[type=text], input[type=password] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              box-sizing: border-box;
              border-radius: 20px;
              background-color: white;
            }

            /* Set a style for all buttons */
            .buttonA {
             background-color: #3b404a;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border-radius: 20px;
              border: none;
              cursor: pointer;
              width: 100%;
            }

            .buttonA:hover {
              opacity: 0.8;
            }

            /* Extra styles for the cancel button */
            .cancelbtn {
              background-color: #3b404a;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              width: auto;
              border: none;
              border-radius: 20px;
              cursor: pointer;
              float:  left;
              
            }
            .cancelbtn:hover {
              opacity: 0.8;
            }

            /* Center the image and position the close button */
            .imgcontainer {
              text-align: center;
              margin: 24px 0 12px 0;
              position: relative;
            }

            img.avatar {
              width: 40%;
              border-radius: 50%;
            }

            .container {
              padding: 16px;
              background-color: white;
            }

            span.psw {
              float: right;
              padding-top: 16px;
            }

            /* The Modal (個 pop out Sign In Window)   (background) */ 
            .modal {
              display: none; /* Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 1; /* Sit on top */
              left: 0;
              top: 0;
              width: 100%; /* Full width */
              height: 80%; /* Full height */
              overflow: auto; /* Enable scroll if needed */
              background-color: rgb(0,0,0); /* Fallback color */
              background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
              padding-top: 60px;
              transform: translate(70px, 4px);
            }

            /* Modal Content/Box */
            .modal-content {
              background-color: #fefefe;
              margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
              border: 1px solid #888;
              width: 50%; /* Could be more or less, depending on screen size */
              
            }

            /* The Close Button (x) */
            .close {
              position: absolute;
              right: 25px;
              top: 0;
              color: #000;
              font-size: 35px;
              font-weight: bold;
            }

            .close:hover,
            .close:focus {
              color: red;
              cursor: pointer;
            }

            /* Add Zoom Animation */
            .animate {
              -webkit-animation: animatezoom 0.6s;
              animation: animatezoom 0.6s
            }

            @-webkit-keyframes animatezoom {
              from {-webkit-transform: scale(0)} 
              to {-webkit-transform: scale(1)}
            }
              
            @keyframes animatezoom {
              from {transform: scale(0)} 
              to {transform: scale(1)}
            }

            /* Change styles for span and cancel button on extra small screens */
            @media screen and (max-width: 300px) {
              span.psw {
                 display: block;
                 float: none;
              }
              .cancelbtn {
                 width: 100%;
              }
            }
            /* ---------------------------------- */


.navbar .buttonb {
  float: right;
  background-color: white;
  text-decoration: none;
  border-radius: 15px;   /*個round button 條邊 有幾彎 */
  padding: 13px;
  border:  0px;
  font-size: 16px;
  color : Black; 
  text-align: center;
  font-family: Arial;
  cursor: pointer; 
  float:  center;
  margin-top: 15px;


}

@media screen and (max-width: 500px) {
  .navbar a {
    float: right;
    /*float: none;*/
    display: block;
    padding-top: 1px;
  }
}

.navbar .searchbar {
  float: right;
  margin-top: 14px;
  transform: translate(-40px, 0px);
  left:  50%;
  
}

.navbar input[type=text] {
  padding: 8px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color: lightgray;

}

.navbar .searchbar button {
  position: absolute; /* Note: Absolute positioned elements are removed from the normal flow, and 可以 overlap elements*/
  float: right;
  padding: 6px 8px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  text-align: center;

  
}

.navbar .searchbar button:hover {
  background: #ccc;

}

@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }
  .navbar a, .navbart input[type=text], .navbar .searchbar button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;  
  }
}
.googlebutton{
  float: right;
  padding: 15px 15px;
  margin-top: 8px;
  margin-right: 50px;
  background: none;
  border-radius: 15px; 
  font-size: 17px;
  border: none;
  cursor: pointer;
  text-align: center;
}
/* ------------------------------------------------------------------------*/


/* -------------------------Below are for the side bar -------------------------*/

.sidenav {
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1d1d1f;
  overflow-x: hidden;
  padding-top: 50px;
}

.sidenav a {
  padding: 15px 8px 15px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.Icon {
  float:top;
  width: 68px;
  height: 70px;
  cursor: pointer;
  padding-left:  35px;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* Main Content style */

.abc {   /*<The main content putting the things in the middle*/
  transform: translate(600px, 140px);
}

.banner {
  background-image: url("../images/lookspace.jpg");
  background-position: center;
  width: 95%;
  height: 500px;
  border:  none;
  padding:  none;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  float: right;
  z-index: -1;
 
}

.middlebar { 
  
  font-family: 'Arial';
  font-weight: none;
  width: 100%;
  float: right;
  background-color: black;
  overflow: auto; 
  transform:  translate(0px 500px);
 }
.middlebar a {
  color: white;
  float:  right;
  font-family: "Montserrat", sans-serif ;
  text-decoration: none;
  font-size: 16px;
  padding: 20px;
}

h1 {
float: right;
width: 88%;
text-align: center;
background-color: lightgray;
font-family: 'Roboto', sans-serif;
font-size: 13px;
padding: 16px;
overflow: auto;
padding-top: none;
transform: translate(0px, -5px);
}



.weather{
  float:  right;
  background-image:url(../images/sunset.jpeg);
  color: white; 
  max-width: 85%; 
  width: 100%; 
  transform: translate(-15px, 0px);
  
  border-radius: 10px;
}

.weather a{
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif ;
  font-size: 18px;
}

.titleInPage{
  float: right;
  width: 87%;
  text-align: center;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding: 20px;
  margin-top: 15px;
  overflow: auto;
  padding-top: none;
  transform: translate(0px, -10px);
}
.gallery img {
  overflow: hidden;
  float: right;   /*由右邊開始排起*/
  margin: 10px ;  /*成個box 同 box 外 element 嘅距離*/
  border-radius: 10px;

}

div.gallery:hover {
  border: 1px solid transparent;
}

.container{
  position: relative;
  text-align: center;
  background-position: center;
  width: 95%;
  height: 300px;
  margin: none;
  
  border:  none;
  padding:  none;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  float: right;
  z-index: -1;
}

.description{
  padding: 10px;
  margin:  20px ;
  text-align: center;
  font-family: "Montserrat", sans-serif ;
  font-weight: bold;
  font-size: 20px;

}

.responsive {
  padding: 0 1px;
  float: right;
  cursor: pointer;
/*  width: 24.99999%;*/
}


.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 8px;
}
.smallcolumn
{
  float: right;
  width: 15%;
  padding: 10px;
 
}

